/* GENERAL CONFIG */

#aboutCoffee 
{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#aboutTitles { line-height: 2em; }

/* BASE MOBILE-FIRST LAYOUT */

@media screen and (min-width: 320px) and (max-width: 480px) 
{
    #aboutCoffee 
    {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    #coffeeCup
    {
        width: 5.5em;
        height: auto;
    }

    #aboutTitles { margin-left: 2em; }
}

/* IPADS, TABLETS, SHORT SCREENS, LAPTOPS, DESKTOPS 1 */

@media screen and (min-width: 481px) and (max-width: 1200px)
{
    #aboutCoffee 
    {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    #coffeeCup
    {
        width: 7em;
        height: auto;
    }

    #aboutTitles 
    { 
        margin-left: 2em; 
        font-size: 20px;
    }
}

/* DESKTOPS 2 */

@media screen and (min-width: 1201px)
{
    #aboutCoffee 
    {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    #coffeeCup
    {
        width: 7em;
        height: auto;
    }

    #aboutTitles 
    { 
        margin-left: 2em; 
        font-size: 20px;
    }
}