/* GENERAL CONFIG */

.blackHoleButton
{
    background-color: #000;
    border: 2px solid #52579e;
    border-radius: 50%;
    animation: auraAnimation 2s infinite, floatAnimation 2s infinite ease-in-out; 
    cursor: pointer;
}

@keyframes auraAnimation 
{
    0% { box-shadow: 0 0 10px 5px rgba(0, 89, 255, 0.7); }
    50% { box-shadow: 0 0 20px 15px rgba(0, 89, 255, 0.5); }
    100% { box-shadow: 0 0 10px 5px rgba(0, 89, 255, 0.7); }
}

@keyframes floatAnimation 
{
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

/* BASE MOBILE-FIRST LAYOUT */

@media screen and (min-width: 320px) and (max-width: 480px)
{
    .blackHoleButton
    {
        width: 5em;
        height: 9em;
    }
}

/* IPADS, TABLETS, SHORT SCREENS, LAPTOPS, DESKTOPS 1 */

@media screen and (min-width: 481px) and (max-width: 1200px)
{
    .blackHoleButton
    {
        width: 8em;
        height: 12em;
    }
}

/* DESKTOPS 2 */

@media screen and (min-width: 1201px)
{
    .blackHoleButton
    {
        width: 8em;
        height: 12em;
        margin-left: 7em;
    }
}