/* GENERAL CONFIG */

nav 
{
    display: flex;
    align-items: center;
    z-index: 999;
    background-color: #181E40;
    border-radius: 0.8em;
    width: 100%;
    box-sizing: border-box; 
    overflow: hidden;
    margin: 1em; 
}

nav img 
{
    flex: 0 0 auto;
    background-color: #04001a;
    padding: 0.7em;
    max-height: 3.5em;
}

.tablink 
{
    background-color: #181E40;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex: 1 1 auto; 
}

.tablink.active { text-decoration: underline; }

/* BASE MOBILE-FIRST LAYOUT */

@media screen and (min-width: 320px) and (max-width: 480px)
{
    nav 
    {
        width: 19em; 
        margin: 0.8em auto; 
    }

    .tablink { font-size: 11px; }
}

/* IPADS, TABLETS */

@media screen and (min-width: 481px) and (max-width: 768px)
{
    nav 
    {
        width: 27em; 
        margin: 2em auto;
    }

    .tablink { font-size: 14px; }
}

/* SHORT SCREENS, LAPTOPS, DESKTOPS 1 */

@media screen and (min-width: 769px) and (max-width: 1200px)
{
    nav 
    {
        width: 42em; 
        margin: 2em auto;
    }

    nav img { max-height: 4em; }
    .tablink { font-size: 16px; }
}

/* DESKTOPS 2 */

@media screen and (min-width: 1201px)
{
    nav 
    {
        width: 60em; 
        margin: 2em auto;
    }

    nav img { max-height: 4em; }
    .tablink { font-size: 17px; }
}